<div class="col-sm-8 col-sm-offset-2 text-center home-description">
	Curated feedback from <br>people who know their shit
</div>

<div class="col-sm-6 col-sm-offset-3 input-group initial-question">


	<%= form_tag '/ideas', :html => {:class => "form-control initial-input-form"} do |f|  %>
		<%= text_field_tag :premise  %>
		<%= submit_tag 'GO', :class => "btn btn-default initial-button", :placeholder => "What's your idea?" %>
	<% end %>

	<!-- <input type="text" class="form-control initial-input-form" placeholder="What's your idea?">
	<span class="input-group-btn">
		<button class="btn btn-default initial-button" type="button">GO</button>
		<h3><%= link_to("Sign Up", new_user_registration_path)  %></h3>
	</span> -->

</div>

<div class="col-sm-6 col-sm-offset-3">
	<h2 class="how-it-works">How It Works</h2>
	
	<div class="col-sm-4 col-sm-offset-1 know-shit">
		<h2>Know Some Shit?</h2>
	</div>

	<div class="col-sm-4 col-sm-offset-2 need-shit">
		<h2>Need to Know Shit?</h2>
	</div>

	<!-- REACT IMPLEMENTATION IDEA -->
	<!-- Two square div buttons for either option -->
	<!-- Clicking on it turns square div into a tall rectangular div with more information on user type -->
	<!-- Color scheme - red/blue or green/blue -->
	<!-- Bottom of each div has link to register button -->
	<div class="col-sm-12">
	<h3 class="know-your-shit">Know Your Shit?</h3>
		<ul>
			<li>Pick your field of expertise</li>
			<li>Get paired with people in the same field</li>
			<li>Give individual and group feedback on ideas based on the realm of shit you know</li>
		</ul>

	<h3 class="know-your-shit">Need To Know Some Shit?</h3>
		<ul>
			<li>Ask a question or propose an idea</li>
			<li>Get concise constructive feedback from a group of people with tons of experience in the related field</li>
		</ul>
	</div>

</div>