<div class="row">
	<div class="col-sm-10 col-sm-offset-1"> 
		<div class="idea col-sm-2">
			<h3><%= @idea.premise  %>?</h3>
		</div>
		<h3>That's a pretty sick idea, <%= @user.username  %></h3>
		<%= form_for @profile do |f| %>

		<% end %>
	</div>
</div>